.a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    position: relative;
    
}

.b{
  
    margin-bottom: -5px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
    font-style: initial;
}


.para{
    font-size: 15px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    text-align: justify;
    font-style: italic;
}

.e{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 600px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    
   
}

.g{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.streetfood{
    font-size: 3.5rem;
    font-weight: 300;


}